@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto:wght@300&family=Tilt+Prism&display=swap');

.barlow {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: bold;
}